In [6]:
#q1
s="string"
type(s)

str

In [7]:
l=['l','i','s','t']
type(l)

list

In [8]:
f=20.03
type(f)

float

In [10]:
t=(1,2,3)
type(t)

tuple

In [11]:
#q2
var1 = ' '
type(var1)

str

In [12]:
var2='[DS,ML,Python]'
type(var2)

str

In [13]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [14]:
var4 = 1.
type(var4)

float

In [15]:
#q3
#use of / is for division
10/2

5.0

In [16]:
#use of % is for showing remainder
10%2

0

In [17]:
#use of // is for floor division
10//2

5

In [18]:
#use of ** is for calculating power of a number
2**3

8

In [34]:
#Q4. Create a list of length 10 of your choice containing multiple types of data.
#Using for loop print the element and its data type.
l1=[1,'s',3.0,True,False,'sss',2,4,6,5]
for i in l1:  
  print(i)
for j in range(10):
  type(l1[j])

1
s
3.0
True
False
sss
2
4
6
5

In [35]:
#Q5 Using a while loop, verify if the number A is purely divisible by number B 
#and if so then how many times it can be divisible.
A = int(input("Enter val of A: "))
B = int(input("Enter val of B: "))
count=0;
while A%B==0 :
  A=A//B
  count=count+1
print("Number A is divisible by number B", count, "times.")

Enter val of A: 36
Enter val of B: 6
Number A is divisible by number B 2 times.

In [41]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else 
#condition print if the element is divisible by 3 or not.
lis1=range(25)
for i in lis1:
  print(i)
  if(i%3==0):
    print(i,"is divisible by 3")
  else:
    print(i,"is not divisible by 3")

0
0 is divisible by 3
1
1 is not divisible by 3
2
2 is not divisible by 3
3
3 is divisible by 3
4
4 is not divisible by 3
5
5 is not divisible by 3
6
6 is divisible by 3
7
7 is not divisible by 3
8
8 is not divisible by 3
9
9 is divisible by 3
10
10 is not divisible by 3
11
11 is not divisible by 3
12
12 is divisible by 3
13
13 is not divisible by 3
14
14 is not divisible by 3
15
15 is divisible by 3
16
16 is not divisible by 3
17
17 is not divisible by 3
18
18 is divisible by 3
19
19 is not divisible by 3
20
20 is not divisible by 3
21
21 is divisible by 3
22
22 is not divisible by 3
23
23 is not divisible by 3
24
24 is divisible by 3

In [42]:
#mutable data types are those which can changed at indexes example list
list1=[1,2,3,4,5]
print(list1[:])
list1[2]=9#changed
print(list1[:])

[1, 2, 3, 4, 5]
[1, 2, 9, 4, 5]

In [44]:

#immutable data types cannot be changed at indexes example string
s='sjjr'
#s[2]='k'
#shows error